@model DbAccessWebApp1.Controllers.PaymentController.PaymentPage
@{
    var dateText = "";
    if (Model.Date.HasValue)
    {
        dateText = Model.Date.Value.ToString("yyyy/MM/dd");   
    }
}
<style type="text/css">
    .button {
        font-size: 24px;
        font-weight: bold;
        padding: 10px 20px;
    }

    .property-panel {
        padding: 10px 0;
    }

    .property-name {
        font-weight: bold;
    }

    .property-value input {
        font-size: 20px;
    }

    #SaveButton {
        margin-top: 40px;
    }
</style>


<span style="font-size:20px;">商品の追加ページです</span>

<div>
    <a href="/Payment/List">>>一覧へ戻る</a>
</div>

<input type="hidden" name="EditMode" value="@Model.EditMode.ToString()" />
<input type="hidden" name="PaymentCD" value="@Model.PaymentCD" />

<div class="property-panel">
    <div class="property-name">商品名</div>
    <div class="property-value">
        <input type="text" name="Title" value="@Model.Title" />
    </div>
</div>
<div class="property-panel">
    <div class="property-name">日付</div>
    <div class="property-value">
        <input type="text" name="Date" k-id="date" value="@dateText" />
    </div>
</div>
<div class="property-panel">
    <div class="property-name">価格</div>
    <div class="property-value">
        <input type="text" name="Price" value="@Model.Price" />
    </div>
</div>


<input type="button" id="SaveButton" class="button" value="保存" />
@if (Model.EditMode == PageEditMode.Edit)
{
    <input type="button" id="DeleteButton" class="button" value="削除" />
}

<script src="~/Views/Payment/Edit.js" type="module"></script>

